<button type="button"" ng-click="ping()">Alert!</button>

<input type="text"" ng-model="msg"></input>
<button type="button"" ng-click="texter()">click me</button>

<div ng-mouseenter="myStyle={'background-color':'red'}" ng-mouseleave="myStyle={'background-color':'blue'}" id='changer' ng-style="myStyle">Mouseover!
</div>

<p ng-click="theStyle={'color': randomColor()}" ng-style="theStyle">This text is going to be so random--in color!!</p>



<div id="spanDiv"></div>

<button type="button" ng-click="spanner()">Add some spans!</button>

<ul id="friends"></ul>

<button type="button" ng-click="addFriend()">Add some friends!</button>